
body {
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.state-group {
    margin: 8px;
    width: 90%
}

.state-btn {
    margin: 5px;
}

.county-header {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.change {
    font-size: .75rem;
    margin-left: 1ex;
}

.tile {
    background-color: #fff;
    /*padding: 0px !important;*/

    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 20px;
    margin-bottom: 20px;
}

.tile-header {
    background-color: #1a5898; /* #016765; */
    color: #fff;
    border-radius: 8px 8px 0px 0px;
    font-weight: 600;
    padding: 5px;
    padding-left: 10px;
}

.tile-body {
    padding: 10px;
}

.data-point-big {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 10px;
    margin-left: 50px;
}

.data-point {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: 600;
}

.data-point-light {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: 500;
}

.data-detail {
    font-size:.75rem;
    font-style: oblique;
    text-align:right;
}

.c-range {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 60%
}

.county-name {
    font-weight: 600;
}

.pop {
    font-weight: 300;
}
